<%- include('header') %>

<h4 class="mb-3">Tárgyak</h4>

<%- include('message') %>

<form action="/rends/newdata" method="post">
    <div class="form-floating mb-3">
        <select class="form-control" name="rented">
            <% valasz.forEach((item) => { %>
                <option value="<%= item %>"><%= item %></option>
        <% }); %>
        </select>
        <label for="name">Kölcsönözhető termékek</label>
    </div>
    <input class="btn btn-primary mb-3" type="submit" value="Save" name="saveBtn">
</form>

<%- include('footer') %>